.nav-link,
.navbar-brand {
	color: black !important;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.8);
}

.navbar a:hover {
	background-color: rgb(250, 162, 162);
}

body {
	background: rgb(127, 144, 217);
	background: linear-gradient(
		90deg,
		rgba(127, 144, 217, 1) 27%,
		rgba(236, 153, 161, 1) 88%
	);
}

.container {
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
}

.aboutme {
	text-align: center;
	border-bottom: solid 1px black;
	padding-bottom: 2px;
}

img {
	float: left;
	padding: 15px;
	height: 300px;
	width: 300px;
}

.contact-button {
	background-color: rgb(250, 162, 162, 0.5);
	border: none;
}

.contact-button:hover {
	background-color: lightblue;
}

.portfolio {
	text-align: center;
}

.banner {
	background-color: rgb(250, 162, 162, 0.5);
	border: none;
	width: 100%;
	margin: 0;
}

.card {
	width: 300px;
	height: 400px;
	background-color: transparent;
	border: none;
}

.banner:hover {
	background-color: lightblue;
}
